[Unit]
Description=The nginx HTTP and reverse proxy server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile={{ NGINX_HOME }}/logs/nginx.pid
ExecStartPre={{ NGINX_HOME }}/sbin/nginx -t
ExecStart={{ NGINX_HOME }}/sbin/nginx
ExecReload={{ NGINX_HOME }}/sbin/nginx -s reload
ExecStop=/usr/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target